body {
    margin-left: 1em;
    margin-right: 1em;
}

h1 {
    float: left;
    margin-bottom: 20px;
}

.form-inline {
    float: right;
    margin-top: 20px;
}

.form-control {
    margin-right: 10px;
}

.checkbox {
    margin-right: 10px;
}