body {
    margin-left: 1rem;
    margin-right: 1rem;
    background-image: url('../Images/leshy.png');
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    float: left;
    margin-bottom: 0.5rem;
    color: white;
}

.form-inline {
    float: right;
    margin-top: 1.9rem;
}

.form-control {
    margin-right: 0.5rem;
}

.checkbox {
    margin-right: 0.5rem;
}

a {
    text-decoration: none !important;
    color: white;
}

.button {
    margin-top: 1.6rem;
}

button.reg {
    margin-left: 0.5rem;
}

.wrapper {
    height: 6rem;
}

.bookWrapper {
    height: 12rem;
    display: inline-flex;
}

p {
    margin-left: 0.5rem;
    color: white;
}

img {
    width: 100px;
}

.flRight {
    float: right;
}

.checkbox {
    color: white;
}

.resetCSS {
    all: initial;
    all: unset;
}

p,
.checkbox,
a,
h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

label {
    margin-left: 1rem;
}

.bookWrapper {
    height: 15rem;
    overflow: auto;
}

.small-font {
    font-size: 1.3rem;
}

.green {
    color: yellow;
    font-size: 2rem;
    padding-left: 1.5rem;
}

.rememberMe {
    margin-left: 1.5rem;
}

.header {
    display: inline-block;
}